<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.annkee.applications.dao.ProjectMapper">
    <resultMap id="BaseResultMap" type="com.annkee.applications.domain.Project">
        <constructor>
            <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long"/>
            <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="path" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="comment" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="available" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
     id, status, name, path, comment, available, update_time
    </sql>
    <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT * FROM project WHERE name = #{name}
    </select>

</mapper>